/SocketProject/.vs/*
/SocketProject/Channel/x64/*
/SocketProject/Sender/x64/*
/SocketProject/Server/x64/*
/SocketProject/Utilities/x64/*
/SocketProject/x64/*
/SocketProject/Channel/Debug/*
/SocketProject/Sender/Debug/*
/SocketProject/Server/Debug/*
/SocketProject/Utilities/Debug/*
/SocketProject/Debug/*
